
$color: rgb(255, 9, 243);
.myDiv{
    color: $color;
    height: 600px;
    background-image: url('../../assets/welcome_PNG12.png');    
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    padding-top: 50px;
    padding-right: 50px;

}